
body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header,a {
    background-color: darkgreen;
    font-size: 17px;
    color: white;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    font-size: 18px;
    transform: translate(1px);
}