@charset "UTF-8";


body {
    background: linear-gradient(to right, #236941d8, #608873b2, #e4fdee);
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 120px;
    padding: 10px 50px;
}

.menu {
    margin-right: 120px;
    font-size: 12px;
    display: flex;
    padding: 10px 50px;
    gap: 50px;
}

a {
    text-decoration: none;
}

h2 {
    color: rgb(53, 53, 53);
}

.treino {
    color: #2e8b57;
}

.linha-treino {
    margin-top: 10px;
    width: 50px;
    height: 3px;
    background: #2e8b57;
    border: none;
    border-radius: 2px;
}


#titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 45px;
}

.linha-titulo {
    width: 500px;
}

.subtitulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(82, 82, 82);
}

section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.forca,
.cardio,
.funcional {
    border-radius: 10px;
}

.img-forca,
.img-cardio,
.img-funcional {
    border-radius: 5px 5px 0px 0px;
}

.treino-forca,
.treino-cardio,
.treino-funcional {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: linear-gradient(to right, #3fad6d, #1e7a46);
    text-align: center;
    margin-top: -6px;
    padding: 10px;
}

.sub-forca,
.sub-cardio,
.sub-funcional {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: white;
    margin-top: -20px;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}

.linha-footer {
    margin-top: 50px;
    width: 900px;
}

.texto-footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}